<section id="advantages" class="advantages-page">
  <div class="container">
    <h2>переваги</h2>
    <ul class="advantages-list">
      <li>
        <img
          class="img-advantages"
          src="/img/01_advantages.png"
          alt="П’ять різних локацій"
          width="64"
          height="64"
        />
        <div class="wrapper-list-text">
          <h3>П’ять різних локацій</h3>
          <p>
            Пропонуємо оренду залів для конференцій та відкритих локацій для
            неформальних заходів.
          </p>
        </div>
      </li>
      <li>
        <img
          class="img-advantages"
          src="/img/02_advantages.png"
          alt="Розміщення"
          width="64"
          height="64"
        />
        <div class="wrapper-list-text">
          <h3>Розміщення</h3>
          <p>
            Одночасно поселимо до 226 гостей. Маємо різні варіанти розміщення:
            від одномісних до чотиримісних номерів і будинків.
          </p>
        </div>
      </li>
      <li>
        <img
          class="img-advantages"
          src="/img/03_advantages.png"
          alt="Простір"
          width="64"
          height="64"
        />
        <div class="wrapper-list-text">
          <h3>Простір</h3>
          <p>
            Підберемо локацію під бажаний тип розсадки: від театральної до
            банкетної на 50 чи 300 м².
          </p>
        </div>
      </li>
      <li>
        <img
          class="img-advantages"
          src="/img/04_advantages.png"
          alt="Повний супровід"
          width="64"
          height="64"
        />
        <div class="wrapper-list-text">
          <h3>Повний супровід</h3>
          <p>
            Персональний менеджер подбає про кожну деталь: від трансферу гостей
            та обладнання конференц-залу до меню та контролю підрядників.
          </p>
        </div>
      </li>
      <li>
        <img
          class="img-advantages"
          src="/img/05_advantages.png"
          alt="Меню"
          width="64"
          height="64"
        />
        <div class="wrapper-list-text">
          <h3>Меню</h3>
          <p>
            Наші кухарі розробляють меню під формат події: від файн-дайнінгу до
            стріт-фуду.
          </p>
        </div>
      </li>
      <li>
        <img
          class="img-advantages"
          src="/img/06_advantages.png"
          alt="Автономність і безпека"
          width="64"
          height="64"
        />
        <div class="wrapper-list-text">
          <h3>Автономність і безпека</h3>
          <p>
            Маємо бомбосховище та генератор, що забезпечує електроенергію та
            водопостачання під час відключень.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
