<div class="burger-menu js-burger-menu">
  <div class="wrapper-mob-menu">
    <div class="wrapper-header">
      <a class="header-logo" href="/">
        <img class="img" src="/img/logo.svg" alt="" />
      </a>
      <button class="btn-close-menu js-close-menu" type="button">
        <img class="close" src="/img/close.svg" alt="close burger menu" />
      </button>
    </div>
    <nav class="menu" id="menu">
      <ul class="menu-list">
        <li><a href="#">ПЕРЕВАГИ</a></li>
        <li><a href="#">ЛОКАЦІЇ</a></li>
        <li><a href="#">ІВЕНТИ</a></li>
        <li><a href="#">ГАЛЕРЕЯ</a></li>
      </ul>

      <a class="header-btn" href="/">телеграм</a>

      <div class="menu-footer">
        <div class="social">
          <a href="https://www.instagram.com/shelest.hotel">INSTAGRAM</a>
          <a href="https://www.facebook.com/shelest.hotel">FACEBOOK</a>
        </div>
        <div class="contacts">
          <a
            class="ringostat"
            href="tel:+380736757885"
            plerdy-tracking-id="81193788501"
            >+38 (067) 51 014 19</a
          >
          <a href="mailto:event@shelest.ua">event@shelest.ua</a>
        </div>
      </div>
    </nav>
  </div>
</div>
