<div class="burger-menu js-burger-menu">
  <div class="container">
    <div class="wrapper-header">
      <a class="header-logo js-logo" href="#hero">
        <img class="img" src="/img/logo.svg" alt="logo" />
      </a>
      <button class="btn-close-menu js-close-menu" type="button">
        <img class="close" src="/img/close.svg" alt="close burger menu" />
      </button>
    </div>
    <nav class="menu" id="menu">
      <ul class="menu-list">
        <li><a class="js-menu-link" href="#advantages">ПЕРЕВАГИ</a></li>
        <li><a class="js-menu-link" href="#location">ЛОКАЦІЇ</a></li>
        <li><a class="js-menu-link" href="#events">ПОДІЇ</a></li>
      </ul>

      <a
        class="burger-btn"
        href="https://t.me/Event_Shelest_bot"
        target="_blank"
        >телеграм</a
      >

      <div class="menu-footer">
        <div class="social">
          <a href="https://www.instagram.com/shelest.hotel" target="_blank"
            >INSTAGRAM</a
          >
          <a href="https://www.facebook.com/shelest.hotel" target="_blank"
            >FACEBOOK</a
          >
          <a
            href="https://shelest.ua/?utm_source=events-site&utm_medium=referral&utm_campaign=footer-link"
            target="_blank"
            >shelest.ua</a
          >
        </div>
        <div class="contacts">
          <a
            class="ringostat"
            href="tel:+380736757885"
            plerdy-tracking-id="81193788501"
            >+38 (073) 67 578 85</a
          >
          <a href="mailto:event@shelest.ua">event@shelest.ua</a>
        </div>
      </div>
    </nav>
  </div>
</div>
