<section id="events" class="events-page">
  <div class="container">
    <h2>формати подій</h2>

    <ul class="events-list">
      <li>
        <img class="img-events" src="/img/01_events.png" alt="Корпоративи" />
        <div class="wrapper-text-events">
          <h3>Корпоративи</h3>
          <p>
            Новорічні банкети та вечірки, дні народження компанії, командні
            майстер-класи або квести в лісі. Ви вибираєте формат — ми робимо
            івент, про який розповідатимуть із захватом.
          </p>
        </div>
      </li>
      <li class="item-reverse">
        <img class="img-events" src="/img/02_events.jpg" alt="Конференції" />
        <div class="wrapper-text-events">
          <h3>Конференції</h3>
          <p>
            Лобі готелю, велика чи мала зала ресторану трансформуються в
            конференц-зал з усім необхідним обладнанням і чудовим видом на ліс.
          </p>
        </div>
      </li>
      <li class="item">
        <img
          class="img-events"
          src="/img/03_events.jpg"
          alt="Стратегічні сесії"
        />
        <div class="wrapper-text-events">
          <h3>Стратегічні сесії</h3>
          <p>
            Тиша лісу та свіже повітря допомагають зосередитись. Трансфер, меню,
            технічне оснащення — ми візьмемо все це на себе, щоб ви думали про
            майбутнє бізнесу, а не про технічні дрібниці.
          </p>
        </div>
      </li>
      <li class="item-reverse">
        <img
          class="img-events"
          src="/img/04_events.jpg"
          alt="Навчальні тренінги"
        />
        <div class="wrapper-text-events">
          <h3>Навчальні тренінги</h3>
          <p>
            Згуртувати та навчити команду — легко, якщо робити це з нами.
            Тренінги та воркшопи просто неба, велопрогулянки, cпа-послуги,
            барбекю — організуємо тімбілдінг, після якого питатимуть: «коли
            наступний?».
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
