<section class="footer" id="footer">
  <div class="container">
    <div class="footer-image"></div>
    <h2>Контакти</h2>
    <div class="contacts-wrapper">
      <div class="contacts-left">
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-envelope"></use>
          </svg>
          <a href="mailto:event@shelest.ua">event@shelest.ua</a>
        </div>
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-phone"></use>
          </svg>
          <a
            class="tel-footer ringostat"
            href="tel:+380736757885"
            plerdy-tracking-id="81193788501"
            >+38 (073) 67 578 85</a
          >
        </div>
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-paper-plane"></use>
          </svg>
          <a href="https://t.me/Event_Shelest_bot" target="_blank"
            >@Event_Shelest_bot</a
          >
        </div>
      </div>

      <div class="contacts-social-networks">
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-facebook"></use>
          </svg>
          <a href="https://www.facebook.com/shelest.hotel" target="_blank"
            >shelest.hotel</a
          >
        </div>
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-instagram"></use>
          </svg>
          <a href="https://www.instagram.com/shelest.hotel" target="_blank"
            >shelest.hotel</a
          >
        </div>
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-dribbble"></use>
          </svg>
          <a
            href="https://shelest.ua/?utm_source=events-site&utm_medium=referral&utm_campaign=footer-link"
            target="_blank"
            >shelest.ua</a
          >
        </div>
      </div>
      <div class="contacts-location">
        <div class="contact-item">
          <svg class="icon">
            <use href="/img/icon.svg#icon-map-marker"></use>
          </svg>
          <a
            href="https://maps.app.goo.gl/CStzWdXsbJzkXCkC9"
            target="_blank"
            rel="nofollow"
            plerdy-tracking-id="90404437701"
          >
            Київська область, Вишгородський район <br />Пірнівська територіальна
            громада, СТ "Маяк+" вул. Приморська, 1.
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
