<header class="header">
  <div class="header-list">
    <a class="header-logo" href="/">
      <img class="img" src="/img/logo.svg" alt=""
    /></a>
    <nav class="header-nav">
      <ul>
        <li>
          <a href="/">переваги</a>
        </li>
        <li>
          <a href="/">локації</a>
        </li>
        <li>
          <a href="/">івенти</a>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <a
        class="ringostat"
        href="tel:+380736757885"
        plerdy-tracking-id="81193788501"
        >+38 (067) 51 014 19</a
      >
      <a class="header-btn" href="/">телеграм</a>
      <button class="btn-burger-menu js-btn-burger-menu" type="button">
        <img class="burger" src="/img/burger.svg" alt="open burger menu" />
      </button>
    </div>
  </div>
</header>
