<section id="location" class="location">
  <div class="container">
    <h2>локації для проведення заходів</h2>
    <ul class="location-list">
      <li data-location="big">
        <h3>ВЕЛИКИЙ РЕСТОРАН</h3>
        <p>290 м², до 120 гостей</p>
        <div class="location-image-wrapper">
          <img
            class="img-location"
            src="/img/01_location.jpg"
            alt="Великий ресторан"
          /><button class="btn-location" type="button">Переглянути</button>
        </div>
      </li>
      <li data-location="small">
        <h3>МАЛИЙ РЕСТОРАН</h3>
        <p>180 м², до 60 гостей</p>
        <div class="location-image-wrapper">
          <img
            class="img-location"
            src="/img/02_location.jpg"
            alt="Малий ресторан"
          /><button class="btn-location" type="button">Переглянути</button>
        </div>
      </li>
      <li data-location="banquetroom">
        <h3>БАНКЕТНА КІМНАТА</h3>
        <p>50 м², до 25 гостей</p>
        <div class="location-image-wrapper">
          <img
            class="img-location"
            src="/img/03_location.jpg"
            alt="Банкетна кімната"
          /><button class="btn-location" type="button">Переглянути</button>
        </div>
      </li>
      <li data-location="lobi">
        <h3>ЛОБІ ГОТЕЛЮ</h3>
        <p>160 м², до 50 гостей</p>
        <div class="location-image-wrapper">
          <img
            class="img-location"
            src="/img/04_location.jpg"
            alt="Лобі готелю"
          /><button class="btn-location" type="button">Переглянути</button>
        </div>
      </li>
      <li data-location="pool">
        <h3>БАСЕЙН У ЛІСІ</h3>
        <p>площа палуби — 4500 м², до 300 гостей</p>
        <div class="location-image-wrapper">
          <img
            class="img-location"
            src="/img/05_location.jpg"
            alt="Басейн у лісі"
          /><button class="btn-location" type="button">Переглянути</button>
        </div>
      </li>
      <li data-location="terrasa">
        <h3>ТЕРАСА НАД ВОДОЮ</h3>
        <p>240 м², до 60 гостей</p>
        <div class="location-image-wrapper">
          <img
            class="img-location"
            src="/img/06_location.jpg"
            alt="Тераса над водою"
          /><button class="btn-location" type="button">Переглянути</button>
        </div>
      </li>
    </ul>
    <a
      id="location-btn-bot"
      class="btn-two"
      href="https://t.me/Event_Shelest_bot"
      target="_blank"
      >Зв’язатися з нами</a
    >
  </div>
</section>
