.burger-menu {
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  right: 0;
  z-index: 4000;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: #ece9de;
  padding: 30px 15px 30px 15px;

  @media screen and (min-width: 1280px) {
    padding: 30px 80px;
  }
}

.burger-menu .container {
  margin: 0 auto;
  max-width: 375px;

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.wrapper-header {
  max-width: 375px;
  height: 64px;
  flex-shrink: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.header-logo img {
  height: 48px;
  flex-shrink: 0;
}

.btn-close-menu {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 1280px) {
    gap: 163px;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  width: 345px;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: 4.32px;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    width: 1200px;
    font-size: 24px;
    line-height: 100%; /* 24px */
    letter-spacing: 5.76px;
    gap: 40px;
  }
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 15.12px */
  letter-spacing: 2.88px;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 120%; /* 19.2px */
    letter-spacing: 3.84px;
  }
}

.social {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}

.contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}

.burger-menu.active {
  visibility: visible;
  opacity: 1;
}

.burger-btn {
  display: flex;
  width: 345px;
  height: 44px;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #ece9de;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: 1.92px;
  text-transform: uppercase;
  border-radius: 34px;
  background: #335446;
  backdrop-filter: blur(40px);
  box-sizing: border-box;

  @media screen and (min-width: 1280px) {
    width: 200px;
    height: 44px;
    padding: 14px 40px;
    gap: 8px;
    font-size: 20px;
    letter-spacing: 2.4px;
  }
}
