#gallery-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 15px;

  @media screen and (min-width: 1440px) {
    padding: 60px 60px;
  }
}

.swiper {
  margin: 0 auto;
  max-width: 345px;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 1440px) {
    max-width: 1200px;
  }
}

.swiper-slide img {
  width: 700px;
  height: 520px;
  object-fit: cover;
  cursor: pointer;
}

.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  top: 50%;

  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #335446;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
