#gallery-menu {
  padding: 60px 16px 60px 16px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.swiper {
  padding: 0 86px;
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}
.swiper-slide {
  flex-shrink: 0;
  width: auto;
}

.swiper-slide img {
  width: 380px;
  height: 520px;
  object-fit: cover;
  cursor: pointer;
}

.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  top: 65%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #335446;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}
