.hero {
  background-image: linear-gradient(rgba(35, 48, 0, 0.3), rgba(35, 48, 0, 0.3)),
    url(/img/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 375px;
  margin: 0 auto;
  padding: 200px 0 100px 0;

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    gap: 220px;
    padding: 200px 0px 100px 0px;
  }
}

.hero-title {
  color: #ece9de;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  width: 345px;

  @media screen and (min-width: 1440px) {
    font-size: 60px;
    width: 1098px;
  }
}

.hero-subtitle {
  color: #e8e7e5;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 122%;
  width: 345px;

  @media screen and (min-width: 1440px) {
    font-size: 30px;
    font-weight: 500;
    width: 1098px;
  }
}
