.telegram-bot {
  border-radius: 48px;
  background: rgba(221, 221, 221, 0.24);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center; /* центр іконки у спокійному стані */
  align-items: center;
  padding: 8px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: none;
  text-decoration: none;
  overflow: hidden;
  width: 64px;
  height: 64px;
  transition: width 0.4s ease, justify-content 0.4s ease,
    background-color 0.3s ease;
}

.wrapper-icon {
  width: 48px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.4s ease;
  flex-direction: row-reverse;
}

.icon-telegram {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.telegram-bot:hover .wrapper-icon {
  width: auto; /* тепер текст поміщається */
}
.telegram-text {
  width: 130px;
  margin-left: 20px;
  color: #335446;
  font-family: 'Stavok Grotesque';
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: left;
  text-transform: uppercase;
}

/* 🟡 Ховер-ефект */
.telegram-bot:hover {
  width: 210px; /* розширення кнопки */
  justify-content: flex-start; /* зміщення вліво */
  padding-left: 12px;
  background: #c7cfcc; /* невеликий відступ */
}

.telegram-bot:hover .telegram-text {
  opacity: 1;
  transform: translateX(0);
}

.telegram-bot:hover .wrapper-icon {
  transform: translateX(
    0
  ); /* щоб іконка залишалась на місці в межах контейнера */
}
